.container {
	display: block;
	margin-left: 25%;
	color: blue;
}

.button {
	display: block;
	background-color: #1b8cd8; /* Green */
	border: none;
	color: white;
	padding: 1em 4em;
	margin: 2em 0 0 0;
	/* padding: 15px 32px; */
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 2em;
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	opacity: 0.6;
	transition: 0.3s;
}

.cardContainer {
	display: flex;
	flex-wrap: wrap;
}

.card {
	width: 25%;
	border: 1px solid white;
	border-radius: 1em;
	margin: 1em;
	padding: 0.5em;
}

.h3 {
	text-decoration: none;
	color: white;
	padding: 0.5em;
}

.faContainer {
	margin-top: 0.5em;
	display: flex;
	justify-content: space-evenly;
}

.faItem {
	cursor: pointer;
	padding: 0.5em;
}

.btnContainer {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 2em;
}
